.wrapper {
    display: flex;
    flex-direction: row;
    align-items: start;
    max-width: 750px;
    min-height: 400px;
}

.main__wrapper {
    margin-top: 66px;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    left: 55px;
}

.info__title {
    font-size: 37px;
    font-family: 'Roboto', serif;
    font-weight: 500;
}

.info__site-description {
    font-size: 14px;
    font-family: 'Roboto', serif;
    font-weight: 400;
    color: #828282;
    padding: 6px 12px;
    border-left: 1px solid #333333;
    margin: 33px 0;
}

.interact {
    display: flex;
    flex-direction: row;
}

.more {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: #A8171A;
}

.interact__more {
    margin-left: 27px;
}

.more__arrow {
    margin-right: 5px;
}

.wrapper__image {
    position: relative;
    left: 40px;
    bottom: 20px;
}