.select-topics {
  /* position: relative; */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  /* left: 29px; */
}

.select-topics__topics {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 74px 38px 74px;
}

.modal-content__select-topics {
  
}

.select-topics__topic-badge {
  /* margin: 0 15px 30px 15px; */
}

.select-topics__button {
  max-height: 37px;
  align-self: end;
  margin: 0 34px 31px 0;
}