.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 348px;
    /* margin-bottom: 50px; */
}

.form__checkbox {
    margin: 20px 0;
}

.form__buttons {
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    column-gap: 29px;
}

.form__text-field {
    width: 348px;
}