.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 348px;
    /* margin-bottom: 50px; */
}

.form__checkbox {
    margin: 20px 0;
}

.form__button {
    /* width: 72px; */
    margin-right: 29px;
}

.form__buttons {
    margin-top: 26px;
}

.form__text-field {
    width: 348px;
}