/* .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 37px 72px 22px 72px;
    box-shadow: #ECECE8 0 0 0 1px; 
} */

.header {
    /* margin-bottom: 15px; */
    margin: 33px 31px 15px 31px;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    /* padding-bottom: 22px; */
    padding: 0 44px 11px 44px;
    justify-content: space-between;
    align-items: center;
    box-shadow: #ECECE8 0 1px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo {
    width: 120px;
    height: 35px;
}